## Tutorial 1: Python Warmup
Objective: Get yourself familiar with Python basic elements.

Tutorials adapted from :

* https://github.com/zhiyzuo/python-tutorial
* https://github.com/jerry-git/learn-python3

### Variables

Vairables can be considered __containers__. You can put anything inside a container, __without specifying the size or type__, which will be needed in Java or C. Note that Python is case-sensitive. Be careful about using letters in different cases.

When assigning values, we put the variable to be assigned to on the left hand side (LHS), while the value to plug in on the RHS. LHS and RHS are connected by an equal sign (`=`), meaning assignment.

In [ ]:
x = 3 # integer
y = 3. # floating point number
z = "Hello!" # strings
Z = "Wonderful!" # another string, stored in a variable big z.
print(x)
print(y)
print(z)
print(Z)

3
3.0
Hello!
Wonderful!

You can do operations on numeric values as well as strings (words).

In [ ]:
sum_ = x + y # int + float = float
print(sum_)

6.0

In [ ]:
v = "World!"
sum_string = z + " " + v # concatenate strings
print(sum_string)

Hello! World!

### tips: printing variables
1) %-formatting

2) str.format()

3) f-string

Printing with formatting `%.#` indicates the number of decimal places

In [ ]:
print("The sum of x and y is %.2f"%sum_) # %f for floating point number

The sum of x and y is 6.00

In [ ]:
print("The string `sum_string` is '%s'"%sum_string) # %s for string

The string `sum_string` is 'Hello! World!'

or use .format

In [ ]:
print("The string `sum_string` is '{}'".format(sum_string)) # %s for string

The string `sum_string` is 'Hello! World!'

from python 3.6, you can also use f-string

In [ ]:
print(f"The string `sum_string` is '{sum_string}'") # this is more readable!

The string `sum_string` is 'Hello! World!'

#### Naming convention

There are two commonly used style in programming:

1. __camelCase__
2. __snake_case__ or __lower_case_with_underscore__

All variable (function and class) names must start with a letter or underscore (\_). You can include numbers.

In [ ]:
myStringHere = 'my string'
myStringHere

'my string'

In [ ]:
x = 3 # valid
x_3 = "xyz" # valid

In [ ]:
3_x = "456" # invalid. Numbers cannot be in the first position.

SyntaxError: ignored

You can choose either camel case or snake case. Always make sure you use one convention consistenly across one project to improve its readibility.

See more here:

[1] https://www.python.org/dev/peps/pep-0008/#descriptive-naming-styles

[2] https://en.wikipedia.org/wiki/Naming_convention_(programming)

### Primitive Data Structures

In this section, we go over some common [primitive](https://www.datacamp.com/community/tutorials/data-structures-python#adt) data types in Python. While the word _primitive_ looks obscure, we can think of it as the most basic data type that cannot be further decomposed into simpler ones.

I categorize them into several subsections based on the values they represent.

#### Numbers

For numbers w/o fractional parts, we say they are ___integer___. In Python, they are called `int`

In [ ]:
x = 3
type(x)

For numbers w/ fractional parts, they are floating point numbers. They are named `float` in Python.

In [ ]:
y = 3.0
type(y)

We can apply arithmetic to these numbers. However, one thing we need to be careful about is ___type conversion___. See the example below.

In [ ]:
z = 2 * x
type(z)

In [ ]:
z = y + x
type(z)

#### Text/Characters/Strings

In Python, we use `str` type for storing letters, words, and any other characters

In [ ]:
my_word = "see you"
type(my_word)

str

You can think of strings as a sequence of characters (or a __list__ of characters, see the next section). In this case, indices and bracket notations can be used to access specific ranges of characters.

In [ ]:
my_word[0], my_word[2:6], my_word[-1]

('s', 'e yo', 'u')

As you can see in the example above, the beginning index is inclusive while the end index is exclusive. Hence, e, letter 2, is included in the print output but u, letter 6, is not included.

We can also use `+` to _concatenate_ different strings

In [ ]:
my_word + ' tomorrow'

'see you tomorrow'

#### Boolean

Boolean type comes in handy when we need to check conditions. For example:

In [ ]:
my_error = 1.6
compare_result = my_error < 0.1
compare_result, type(compare_result)

(False, bool)

There are two and only two valid Boolean values: `True` and `False`. We can also think of them as `1` and `0`, respectively.

In [ ]:
my_error > 0

True

When we use Boolean values for arithmetic operations, they will become `1/0` automatically

In [ ]:
(my_error>0) + 2

3

#### Type Conversion

Since variables in Python are dynamically typed, we need to be careful about type conversion.

When two variables share the same data type, there is not much to be worried about:

In [ ]:
s1 = "no problem. "
s2 = "talk to you later"
s1 + s2

'no problem. talk to you later'

But be careful when we are mixing variables up:

In [ ]:
a = 3 # recall that this is an ____?
b = 2.7 # how about this?
c = a + b # what is the type of `c`?
print(type(c))

<class 'float'>

To make things work between string and numbers, we can explicitly convert numbers into string using the function `str()`:

In [ ]:
s1 + 3

TypeError: ignored

In [ ]:
s1 + str(3)

'no problem. 3'

---

### Nonprimitive Data Structures

In this section, we discuss some ___nonprimitive___ data structures in Python.

We can think of ___nonprimitive___ types as those who can store ___primitive___ data

#### List

Initialize a list with brackets. You can store anything in a list, even if they are different types
- note that we use [___string formatting___](https://pyformat.info/) to display strings
- `%i` is a placeholder for `int`
- `%s` for `str`

In [ ]:
a_list = [1, 2, 3] # commas to seperate elements
print("Length of a_list is: %i"%(len(a_list)))
print("The 3rd element of a_list is: %s" %(a_list[2])) # Remember Python starts with 0
print("The last element of a_list is: %s" %(a_list[-1])) # -1 means the end
print("The sum of a_list is %.2f"%(sum(a_list)))

Length of a_list is: 3
The 3rd element of a_list is: 3
The last element of a_list is: 3
The sum of a_list is 6.00

We can put different types in a list

In [ ]:
b_list = [20, True, "good", "good"] 
b_list

[20, True, 'good', 'good']

Update a list:

__pop__ : pops out specific value in a certain position. Will also output the popped value

__remove__: used to take out a specified value from a list
 
__append__: adds a specified value into a list
  
__extend__: used to combine two lists together.

In [ ]:
print(a_list)
print("Pop %i out of a_list"%a_list.pop(1)) # pop the value out of an index
print(a_list)

[1, 2, 3]
Pop 2 out of a_list
[1, 3]

In [ ]:
print("Remove the string good from b_list:")
b_list.remove("good") # remove a specific value (the first one in the list)
print(b_list)

Remove the string good from b_list:
[20, True]

In [ ]:
a_list.append(10)
print("After appending a new value, a_list is now: %s"%(str(a_list)))

After appending a new value, a_list is now: [1, 10]

merge `a_list` and `b_list`:

In [ ]:
a_list.extend(b_list)
print("Merging a_list and b_list: %s"%(str(a_list)))

Merging a_list and b_list: [1, 3, 20, True, 'good', 'good']

We can also use `+` to concatenate two lists

In [ ]:
a_list + b_list

[1, 3, 20, True]

#### Tuple (A special case of list whose elements cannot be changed)

Initialize a tuple with paranthesis. The major difference between list and tuple is that you can alter list but not tuple.

In [ ]:
a_tuple = (1, 2, 3, 10)
print(a_tuple)
print("First element of a_tuple: %i"%a_tuple[0])

(1, 2, 3, 10)
First element of a_tuple: 1

You cannot change the values of a_tuple

In [ ]:
a_tuple[0] = 5

TypeError: ignored

In order to create a single value tuple, you need to add a ','

In [ ]:
a_tuple = (1) # this would create a int type
print(type(a_tuple))
b_tuple = (1,) # this would create a tuple type, take note of the comma.
print(type(b_tuple))

<class 'int'>
<class 'tuple'>

#### Dictionary: key-value pairs

Initialize a dict by curly brackets `{}`

In [ ]:
d = {} # empty dictionary
d[1] = "1 value" # add a key-value by using bracket d[key] = value. You can put anything in key/value.
print(d)

{1: '1 value'}

In [ ]:
# Use for loop to add values
for index in range(2, 10):
    d[index] = "%i value"%index
print(d)
print("All the keys: " + str(d.keys()))
print("All the values: " + str(d.values()))

In [ ]:
for key in d:
    print("Key is: %i, Value is : %s"%(key, d[key]))

---

### Control Logics

In the following examples, we show examples of comparison, `if-else` loop, `for` loop, and `while` loop.

#### Comparison

Python syntax for comparison is the same as our hand-written convention: 

1. Larger (or equal): `>` (`>=`)
2. Smaller (or equal): `<` (`<=`)
3. Equal to: `==` (__Notie here that there are double equal signs__)
4. Not equal to: `!=`

In [ ]:
3 == 5

In [ ]:
72 >= 2

In [ ]:
store_name = 'Walmart'
store_name == "HyVee" # Will return a boolean value True or False

IMPORTANT: It is worth noting that comparisons between floating point numbers are tricky.

In [ ]:
print(2.2 * 3.0)
2.2 * 3.0 == 6.6

In [ ]:
3.3 * 2.0 == 6.6

From @Amandan from [Stack Overflow](https://stackoverflow.com/users/3346210/zhiya?tab=questions&sort=newest)

In [ ]:
print(float.hex(2.2 * 3.0))
print(float.hex(3.3 * 2.0))
print(float.hex(6.6))

Therefore, be really careful when you have to do such comparison

#### If-Else

In [ ]:
sum_

In [ ]:
if sum_ == 0:
    print("sum_ is 0")
elif sum_ < 0:
    print("sum_ is less than 0")
else:
    print("sum_ is above 0 and its value is " + str(sum_)) # Cast sum_ into string type.

Note that you do not have to use `if-else` or `if-elif-...-else`. You can use `if` without other clauses following that.

In [ ]:
if sum_ > 5:
    print('sum_ is above 5')

Comparing strings are similar

In [ ]:
store_name = 'Walmart'
#store_name = 'Hyvee'

In [ ]:
if 'Wal' in store_name:
    print("The store is not Walmart. It's " + store_name + ".")
else:
    print("The store is Walmart.")

The store is not Walmart. It's Walmart.

#### For loop: Iterating thru a sequence

In [ ]:
for letter in store_name:
    print(letter)

W
a
l
m
a
r
t

`range()` is a function to create interger sequences:
- Note that Python 3 now returns an `iterator` instead of actual `list` with `range` function
- See [link](https://stackoverflow.com/questions/44571718/python-3-range-vs-python-2-range)

In [ ]:
print("range(5) gives" + str(list(range(5)))) # By default starts from 0
print("range(1,9) gives: " + str(list(range(1, 9)))) # From 1 to 9-1 (Again the end index is exclusive.)

In [ ]:
for index in range(len(store_name)): # length of a sequence
    print("The %ith letter in store_name is: %s"%(index, store_name[index]))

#### While loop: Keep doing until condition no longer holds.

Use `for` when you know __the exact number of iterations__; use `while` when you __do not (e.g., checking convergence)__.

In [ ]:
x = 2

In [ ]:
while x < 10:
    print(x)
    x = x + (x-1)
    #x += x-1

2
3
5
9

## Quiz 1

Q1: Why is the first statement True but the second one is False in Python? Research and Explain them.

1) 3.3 * 2.0 == 6.6

2) 2.2 * 3.0 == 6.6

Answer:

Q2: How can you print the sentences like below? Complete the print function (hint: you can use % or '.format")

You have 1 apple(s)

You have 2 apple(s)

You have 3 apple(s)

You have 4 apple(s)

You have 5 apple(s)

In [1]:
for i in range(1,6): 
    #using f-string method
    print(_______) ## fix this line

You have 1 apple(s)
You have 2 apple(s)
You have 3 apple(s)
You have 4 apple(s)
You have 5 apple(s)